# Configuración SMTP para Envío de Correos Automáticos de Pedidos (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_KEY=

# Credenciales OAuth Google & Facebook (Opcionales para vincular apps oficiales en vivo)
GOOGLE_CLIENT_ID=
FACEBOOK_APP_ID=
